CMakeCache.txt
CMakeFiles/*
Makefile
cmake/*
cmake_install.cmake

DistAgent
DistCoordinator
DistClient
ClayTest
GenData
RepairTest
TradeoffAnalysis

src/CMakeFiles/*
src/common/CMakeFiles/*
src/common/*.a
src/util/CMakeFiles/*
src/util/*.a
src/ec/CMakeFiles/*
src/*/*.a

src/*.swp
src/*/*.swp

src/protocol/CMakeFiles/*

coor_output
